{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}

    <div class="mb-3 container border w-50 p-3">
        <div class="pl-3 mb-4">
            <h5>Account</h5>
        </div>
        <div class="pl-3 mb-4 text-center">
            <form action="/profile/password" method="post" onSubmit="return confirm('Are you sure you wish to change your password?');">
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto mb-3" name="psw_curr" id="psw_curr_id" placeholder="Existing password" type="password" required="required">
                    <input class="form-control mx-auto w-auto mb-3" name="psw_new" id="psw_new_id" placeholder="New password" type="password" required="required">
                    <input class="form-control mx-auto w-auto mb-3" name="psw_new_conf" id="psw_new_conf_id" placeholder="Confirm password" type="password" required="required">
                    <button class="btn-primary btn" type="submit">Change password</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
